{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "css-modules-transform",
      {
        "extractCss": {
          "dir": "./lib",
          "relativeRoot": "./src/",
          "filename": "[path]/[name].css"
        }
      }
    ]
  ]
}